extends layout

block content
  h1= title
  p Welcome to the #{title}
  h2 Liste des utilisateur·ices de l'application
  ul
    each user in users
      li= user.firstName
  p Ces données sont issues de la base de données mysql.
